<div class="box"> <!-- class box này từ app.component.scss -->
    <div class="grid grid-cols-12 gap-3">
        <div class="col-span-3 lg:col-span-1">
            <div class="w-[3rem] h-[3rem] ">
                <img class="w-full h-full rounded-full" src="https://scontent.fhan2-3.fna.fbcdn.net/v/t39.30808-6/289226999_1079573635970313_6742039973895950200_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=efb6e6&_nc_eui2=AeEcHeO_jdialYPHpWEke0uUhNewYluboSCE17BiW5uhIMVTSa2lSylTdsug1SGvtG3xTzWL1wjbb79E8WlOGGnt&_nc_ohc=e5iIoU_3V3AAX_pznAe&_nc_ht=scontent.fhan2-3.fna&oh=00_AfCrJaLiCV_It-2D4dOeI9vLpcj7nwVnmsF4PfUjqJW7aA&oe=65E72AB6" alt="">
            </div>
        </div>

        <div class="col-span-6 lg:col-span-9">
            <div class="space-y-2">
                <div>
                    <p class="font-semibold text-lg">codewithhung</p>
                    <p class="opacity-70">Aug 26, 2023</p>
                </div>
                <div>
                    <app-star-rating/>
                </div>
                <p>
                    nice product, i like white kurta
                </p>
            </div>
        </div>
    </div>
</div>